/* CSS Page for mouse and image styling */
/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.containerStyle {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 10%;
  pointer-events: none;
}
.resetButton {
  font-family: "Press Start 2P", system-ui;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  position: fixed;
  right: 20px;
  top: 10%;
  cursor: pointer;
  color: black;
}
body {
  background-image: url('../public/background.png');
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
}
img {
  position: absolute;
  width: 30vmin;
  aspect-ratio: 3 / 2;
  object-fit: contain;
}
.puppyImg {
  left: 5px;
}

 .mouseMove {
  bottom: 0;
  width: 20vmin;
} 
@media screen and (max-width: 480px) {
  .containerStyle, .resetButton {
    font-size: 12px;
  }
  .resetButton {
    top: 15%;
  }

}
@media (hover: hover) {
  .resetButton:hover {
    background-color: grey;
  }
}